/* Recommendations.css */

.recommendations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.2); /* Sombra neón */
  color: #f0f8ff; /* Color del texto claro */
  min-height: 100vh; /* Ocupa toda la pantalla */
  width: 100%; /* Ocupa todo el ancho */
  box-sizing: border-box; /* Incluye padding y borde en el ancho */
  border: 2px solid; /* Borde para la transición de colores */
  border-image: linear-gradient(to left, #00ced1, #39ff14) 1; /* Gradiente de borde */
}

.recommendations h2 {
  margin-bottom: 20px;
  color: #39ff14; /* Texto neón verde */
  font-size: 24px;
  text-align: center;
}

.recommendations-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%; /* Ajusta el ancho del contenido */
  max-width: 1200px; /* Ajusta el tamaño máximo del contenido */
  margin: auto; /* Centra el contenido horizontalmente */
}

.recommendations ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.recommendations li {
  background-color: rgba(255, 255, 255, 0.2); /* Fondo semi-transparente */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px; /* Ajusta el ancho de las tarjetas */
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.2); /* Sombra neón */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recommendations li p {
  margin: 5px 0;
  color: #f0f8ff; /* Texto claro */
}

.recommendations label {
  margin-right: 10px;
  color: #f0f8ff; /* Texto claro */
}

.recommendations select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.2);
  color: #0c0c0c; /* Texto claro */
}
