/* src/styles/Register.css */

.register-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra el contenido verticalmente */
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
  color: #f0f8ff; /* Color del texto claro */
}

.register-container {
  background-color: rgba(255, 255, 255, 0.2); /* Fondo semi-transparente */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.2); /* Sombra neón */
  max-width: 400px;
  width: 90%; /* Asegura que el contenedor no sea demasiado ancho en pantallas pequeñas */
  margin: 20px;
  text-align: center;
  border: 2px solid; /* Borde para la transición de colores */
  border-image: linear-gradient(to left, #00ced1, #39ff14) 1; /* Gradiente de borde */
}

.register-container h2 {
  color: #39ff14; /* Texto neón verde */
  margin-bottom: 25px;
}

.register-container form {
  display: flex;
  flex-direction: column;
}

.register-container input {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #adb5bd;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2); /* Fondo semi-transparente */
  color: #f0f8ff; /* Texto claro */
  font-size: 16px;
}

.register-container input:focus {
  border-color: #39ff14; /* Borde neón verde */
  box-shadow: 0 0 10px #39ff14; /* Sombra neón verde */
  outline: none;
}

.register-container button {
  padding: 12px;
  background-color: #00ced1; /* Botón neón azul */
  border: none;
  border-radius: 5px;
  color: #1e1e1e;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.register-container button:hover {
  background-color: #39ff14; /* Botón neón verde al pasar el ratón */
  box-shadow: 0 0 10px #39ff14; /* Sombra neón verde */
}

.register-page .header,
.register-page .footer {
  width: 100%;
}

/* Media queries para responsividad */

@media (max-width: 768px) {
  .register-container {
    padding: 20px;
  }

  .register-container h2 {
    font-size: 1.5em;
  }

  .register-container input {
    font-size: 14px;
    padding: 10px;
  }

  .register-container button {
    font-size: 14px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .register-container {
    padding: 15px;
  }

  .register-container h2 {
    font-size: 1.2em;
  }

  .register-container input {
    font-size: 12px;
    padding: 8px;
  }

  .register-container button {
    font-size: 12px;
    padding: 8px;
  }
}

.register-page .error {
  color: #ff4500; /* Color rojo para errores */
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}

@import url('./Header.css');
@import url('./Footer.css');
